[submodule "mobile-plf-common"]
	path = mobile-plf-common
	url = https://github.com/PhilipsTest/mobile-plf-common.git

[submodule "Source/usr/Documents/Internal/Localization"]
	path = Source/usr/Documents/Internal/Localization
	url = ssh://tfsemea1.ta.philips.com:22/tfs/TPC_Region24/CDP2/_git/usr-other-user-registration-localization
	branch = develop
